mat-form-field {
    width: 100%;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

table {
    border-spacing: 30px;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.space {
    line-height: 65px;
}

.barButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin: 13px;
}

.barButtons button {
    margin-left: 10px;
    margin-top: 5px;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}



.mt-10 {
    margin-top: 10%;
}

.mat-dialog-container {
    height: 80vh;
    overflow-y: auto;
}

.dialog-content {
    max-height: 70vh;
    overflow-y: auto;
}

.mat-dialog-container {
    height: 80vh;
    overflow-y: auto;
}

.dialog-content {
    max-height: 70vh;
    overflow-y: auto;
}

.Inputform {
    margin-bottom: 10px;
    /* Para dar algo de espacio entre los campos */
}