<div class="container">
    <mat-toolbar>
        <span>Solicitudes</span>
    </mat-toolbar>
</div>
<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Solicitud de vacaciones
        </mat-panel-title>
    </mat-expansion-panel-header>
</mat-expansion-panel>
<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Solicitud de permisos
        </mat-panel-title>
    </mat-expansion-panel-header>
</mat-expansion-panel><br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Solicitud de cambio de turno
        </mat-panel-title>
    </mat-expansion-panel-header>
</mat-expansion-panel>