<mat-toolbar color="primary">
  <span>Control de turnos App</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard"><mat-icon>home</mat-icon> Inicio</button>
  <button mat-button routerLink="/dashboard/catalogo"><mat-icon>account_balance_wallet</mat-icon> Catálogo</button>
  <button mat-button routerLink="/dashboard/usuarios"><mat-icon>supervisor_account</mat-icon> Usuarios</button>
  <button mat-button routerLink="/dashboard/asignaciones"><mat-icon>assignment</mat-icon> Asignaciones</button>
  <button mat-button routerLink="/dashboard/trabajador"><mat-icon>work</mat-icon> Trabajador</button>
  <button mat-button routerLink="/dashboard/vacaciones"><mat-icon>event_note</mat-icon> Solicitudes</button>
  <button mat-button routerLink="/dashboard/rrhh"> <mat-icon>supervised_user_circle</mat-icon> RRHH</button>
  <span class="example-spacer"></span>
  <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
  <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>