<div class="container">
    <mat-toolbar>
        <span>Trabajador</span>
    </mat-toolbar>
    <br>
    <mat-card>
        <mat-card-content>
            <h1>Realizar marcaje</h1>
        </mat-card-content>
        <button mat-raised-button (click)="marcaje()">
            Realizar marcaje
        </button>
    </mat-card>
    <br>
    <div class="clock">
        <span>{{ time[0] }}</span>
        <span>{{ time[1] }}</span>
        <span>:</span>
        <span>{{ time[3] }}</span>
        <span>{{ time[4] }}</span>
        <span>:</span>
        <span>{{ time[6] }}</span>
        <span>{{ time[7] }}</span>
    </div>
    <br>
</div>