<h1>Autorizar/rechazar solicitud</h1>
<form>
    <mat-form-field class="Field" appearance="fill">
        <mat-label>Acción</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="action">
            <mat-option *ngFor="let action of actions" [value]="action.value">
                {{ action.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="Field" appearance="fill">
        <mat-label>Comentario</mat-label>
        <textarea matInput [(ngModel)]="comment" name="comment"></textarea>
    </mat-form-field>
</form>
<div class="barButtons">
    <button mat-raised-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="satColor" (click)="send()">Guardar</button>
</div>